ion-content {
    --background: #fff url('../../assets/corona.jpeg') no-repeat center center / cover;

    /*--background: black;*/
}


.instructions {
  text-align: center;
  padding: 0 1rem;
}

.actionButton {
  padding-bottom: 2rem;
}
