.settings-wrapper {
  height: 100%;
}

.title-wrapper {
  height: 15%;
  text-align: center;
}

.options-wrapper {
  height: 70%;
}

.buttons-wrapper {
  height: 15%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}