.analyze {
  --background: #fff url("../../assets/analyze.jpg") no-repeat center center /
    cover;
}

.result-container {
  height: 100%;
}

.photo {
  max-height: 300px;
}

.status-container {
  display: flex;
  justify-content: center;
  height: 35%;
  max-height: 35%;
}

.image-container {
  height: 35%;
  max-height: 35%;
  display: flex;
  justify-content: center;
}

.actionButton {
  padding-bottom: 2rem;
}

.details {
  font-size: 2.5rem;
  animation: color_change 1s infinite alternate;
}

@keyframes color_change {
	from { color: white; }
	to { color: yellow; }
}